# Python Beginner Course by Purvi Rawal

## Loops and Python Statements

### Useful Operators in Python

**1. Range :** The rang returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

**syntex**

range(start, stop, step)

*start: Optional. An integer number specifying at which position to start. Default is 0*
*stop: Required. An integer number specifying at which position to stop (not included).*
*step: Optional. An integer number specifying the incrementation. Default is 1

**2. Enumerate:** The enumerate takes a collection (e.g. a tuple) and returns it as an enumerate object.The function adds a counter as the key of the enumerate object.

**Syntex**

enumerate(iterable, start)

*iterable: An iterable object*
*start: A Number. Defining the start number of the enumerate object. Default 0*

**3. Zip :** 

The zip returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

**Syntex**

zip(iterator1, iterator2, iterator3 ...)

**4. in :** Operator *in* use to check any object is in list, string and dictonary etc..

**syntex**

'y' in ['x', 'y', 'z']

In [1]:
# Example of range

for i in range(6):
    print(i)

0
1
2
3
4
5

In [2]:
# Make a list using range

list(range(6))

[0, 1, 2, 3, 4, 5]

In [3]:
# Range with step

for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [4]:
# Ennumerate example

month_list = ['January', 'February', 'March', 'April']

for month in enumerate(month_list):
    print(month)

(0, 'January')
(1, 'February')
(2, 'March')
(3, 'April')

In [5]:
# Ennumerate function with tuple unpacking

for index, month in enumerate(month_list):
    print(index)
    print(month)

0
January
1
February
2
March
3
April

In [6]:
# Example of zip

list_1 = ['a', 'b', 'c']
list_2 = [1,2,3]

zip(list_1, list_2)

In [7]:
# Iterate thrugh for loop

for i in zip(list_1,list_2):
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [8]:
# Another example of Zip

list_3 = ['w','x', 'y', 'z']

for i in zip(list_1,list_2,list_3):
    print(i)

('a', 1, 'w')
('b', 2, 'x')
('c', 3, 'y')

In [9]:
# Make list from Zip

list(zip(list_1,list_2))

[('a', 1), ('b', 2), ('c', 3)]

In [10]:
# Use 'in' operator

'x' in ['x', 'y', 'z']

True

In [11]:
# in operator for string

'a' in 'Happy World'

True

In [12]:
# in operator to check key in dictonary

my_dist = {1 : 'January', 2:'February', 3:'March', 4:'April'}

5 in my_dist

False