# Python Beginner Course by Purvi Rawal

## Python Data Structure

### Python Lists

Lists are array like structures that let you save a set of mutable objects of the different types of data. Lists are ordered squences that can hold a variety of object types. They use [ ] brackets and commas to seprated object in list.

**Create an emplty list**
language_names = [ ]

**List Example**

languge_names = ['Python,'Java', 'PHP']

Lists support indexing and slicing. List can be nested and also have a variety of useful methods that can be calles of them.

In [1]:
# Example of mix data types in the list

my_result = ['Sonia','Six Grade', 4.0]
my_result

['Sonia', 'Six Grade', 4.0]

In [2]:
# Get length of the list

len(my_result)

3

In [3]:
# Combine two lists

list_one = ['apple','pineapple', 'orange']
list_two = ['banana', 'grapes']

fruits = list_one + list_two
print(fruits)

['apple', 'pineapple', 'orange', 'banana', 'grapes']

In [4]:
# Indexing and Slicing

my_result[0]

'Sonia'

In [5]:
# Indexing and Slicing

my_result[:2]

['Sonia', 'Six Grade']

In [6]:
# Indexing and Slicing

my_result[2] = 'GPA 4.0'
my_result

['Sonia', 'Six Grade', 'GPA 4.0']

#### List Methods

some of the methods listed that we can use with lists.

* **append**
* **pop**
* **sort**
* **reverse**
* **index**
* **count**

In [7]:
my_list = ['one', 'two', 'three', 'four', 'five']
my_list

['one', 'two', 'three', 'four', 'five']

In [8]:
# append method put new value into the list at the end

my_list.append('six')
my_list

['one', 'two', 'three', 'four', 'five', 'six']

In [9]:
# pop method remove value from the list by default at the end

my_list.pop()
my_list

['one', 'two', 'three', 'four', 'five']

In [10]:
# Give index for specific value to be removed

my_list.pop(0)
my_list

['two', 'three', 'four', 'five']

In [11]:
# Example of sorting

alpha_list = ['a', 'c ', 'z', 'd', 'x']
number_list = [0, 20, 15, 5, 6]

alpha_list.sort()
alpha_list

['a', 'c ', 'd', 'x', 'z']

In [12]:
# sorting will only return a list

change_list = number_list.sort()
change_list

In [13]:
# Sort function chage the orignal list itself

number_list

[0, 5, 6, 15, 20]

In [14]:
# Reverse method will reverse the list

number_list.reverse()
number_list

[20, 15, 6, 5, 0]

In [16]:
# index method gives index position for given value

number_list.index(20)

0

In [17]:
# count method gives number of occurence of that value in the list

number_list.count(6)

1