# Python Beginner Course by Purvi Rawal

## String

### String Property

#### Immutability

String can not mutate or change. Let's see the example.

In [1]:
# String immutable example

name = "Sam"
name[0] = "P"

TypeError: 'str' object does not support item assignment

#### String concatenation 

We can not change string directly with assigning operator. But two string can be add by + sign calles string concatination. We can set the name 'pam' in new variable using string concatenation.

Sometimes string concatenation can be done by * sign as well.

In [2]:
# We can change name Sam to Pam in new variable

change_name = 'P' + name[1:]
print(change_name)

Pam

In [3]:
# Another example of string concatenation. 

x = "Hi!"
x = x + " This is Python Beginner Course."
print(x)

Hi! This is Python Beginner Course.

In [4]:
# String concatenation by * sign

y = "z"
print(y * 10)

zzzzzzzzzz

**Comman mistake**

Avoid comman mistakes with String Concatenation with + sign, need to check Data Types.

In [5]:
# Example of comman mistake

x = 'thirty'
y = x + 4

TypeError: can only concatenate str (not "int") to str

In [6]:
x = 'thrity'
y = x + ' four'
print(y)

thrity four